
body, h1, p, form, label, input {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-family: 'Roboto', sans-serif; 
    background-color: rgb(247, 241, 247); 
    margin-top: 80px; 
  }
  
 
  form {
    width: 400px; 
    margin: 50px auto; 
    background-color: rgb(252, 247, 252); 
    padding: 40px; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 2px solid blueviolet; 
  }
  
 
  h1 {
    text-align: center;
    color: black;
    margin-bottom: 30px; 
    font-size: 28px; 
  }
  
  
  label {
    display: block;
    margin-bottom: 10px;
    color: black;
  }
  
  
  input[type="text"],
  input[type="password"],
  input[type="tel"] {
    width: 100%; 
    padding: 12px; 
    margin-bottom: 20px;
    border: 1px solid wheat;
    border-radius: 6px; 
    box-sizing: border-box;
  }
  
 
  input[type="submit"] {
    background-color: blueviolet; 
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: blueviolet; 
  }
  
 
  a {
    color: blueviolet;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  