<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <style>
      body {
        background-image: url("background7.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #333;
      }
      header {
        background-color: #f5f5e6;
        color: #ffa07a;
        padding: 1px;
        text-align: center;
      }

      .logo {
        width: 100px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <header>
      <!-- Logo -->
      <img src="logo.png" alt="Your Logo" class="logo" />

      <!-- Heading -->
      <h1></h1>
    </header>
  </body>
</html>
